<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Just messing around</title>
  </head>
  <body>
    <% if(locals.user) { %> 
      <li><%= user.name %></li>
      <li>
        <a href="http://localhost:3000/users/signout">Sign Out</a>
      </li>
    <% } else { %> 
      <li>
        <a href="http://localhost:3000/users/signup">Sign Up</a>
      </li>
      <li>
        <a href="http://localhost:3000/users/signin">Sign In</a>
      </li>
    <% } %> 


    <h3>This is just a random form to work with post requests</h3>
    <form action="/" method="post">
        <label for=""><p>Enter your name</p></label>
        <input type="text" name="name" id="">
        <label for=""><p>Enter your phone number</p></label>
        <input type="number" name="phone" id="">
        <button type="submit">Submit</button>
    </form>

    <h3>Setting up an ejs example</h3>
    <ul>
      <% for (let i = 0; i < random.length; i++) { %>
        <li>
          Name: <%= random[i].name %>
          Phone: <%= random[i].phone %> 
        </li>
      <% } %> 
    </ul>

    
    <% if(locals.user) { %> 
      <div id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" method="post">
          <textarea name="content" cols="30" rows="3"></textarea>
          <input type="submit" value="Post">
        </form>
      </div>

      <div>
        <h4>Posts made by <%= user.name %> </h4>
        <ul>
          <% for (let i = 0; i < posts.length; i++) { %>
            <li>
              <%= posts[i].content %> 
            </li>
          <% } %> 
        </ul>
      </div>
    <% } %> 
  </body>
</html>
