<%- include("_header") -%> 
<%- include("_navbar") -%> 

<div id="home-container">

  <div class="row">
    <div class="col-lg-10">
      <div id="feed-posts" >
        <h4>Create a post</h4>
        <form action="/posts/create" method="post">
          <textarea class="post-content" name="content" cols="50" rows="5"></textarea>
          <input class="add-btn post-btn" type="submit" value="Post">
        </form>
      </div>
    
      <div class="post-array">
        <h4>Posts</h4>
        <ul>
            <%- include("_post") -%> 
        </ul>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="user-friends">
        <h4>Friends</h4>
        <ul>
          <% for(u of all_friends) { %>
            <li>
              <p>
                <a class="friend-link" href="/users/profile/<%= u.id %> "><%= u.name %> </a>
              </p>
            </li>
            <% } %>  
          </ul>
      </div>
    </div>

  </div>

</div>
<%- include("_footer") %> 
